<section id="content-header">
  <div class="row">
      <div class="container">
          <div class="col-md-8">
            <div class="page-header">
              <h1>proDigee <small>The Bootcamp coder job market place.</small></h1>
              </div>
               </div>
            <div class="col-md-4"></div>
         </div>
<section id="jobs-table" class="container">
         <table class="table table-hover">
            <caption>Recent Postings</caption>
              <thead>
                 <tr>
                    <th>Date Posted</th>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th>Pay</th>
                    <th>Apply</th>
                 </tr>
              </thead>
              <tbody>
                {{#each jobs}}
                 <tr>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.pay}}</td>
                    <td><a href="/apply/{{this.id}}"><button type="submit" class="btn btn-success apply">Apply</button></a></td>
                    <p hidden>{{this.id}}</p>
                 </tr>
                 {{/each}}
              </tbody>
           </table>
</section>
<footer class="footer"></footer>
