<section id="main content">
      <div class="container">
         <div class="page-header">
            <h1>proDigee <small>The Bootcamp coder job market place.</small></h1>
         </div>
         <table class="table table-hover">
            <caption>Recent Postings</caption>
              <thead>
                 <tr>
                    <th>Date Posted</th>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th>Pay</th>
                    <th>Apply</th>
                 </tr>
              </thead>

<section id="main content" class="container">
              <tbody>
                {{#each jobs}}
                 <tr>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.pay}}</td>
                    <td><button type="button" id="apply" class="btn btn-success">Apply</button></td>
                 </tr>
               {{/each}}
              </tbody>
           </table>
      </div>
</section>



<div id="myModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Job Title:{{{this.JobTitle}}}</h4>
      </div>
      <div class="modal-body">
        Job Description:
        {{this.description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>

</div>
