<div class="well well-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{this.bootcampers.first_name}}</h2>
    </div>
      <div class="col-md-4">
        <a href="/"><button type="button" class="btn btn-primary btn-lg">View Jobs</button></a>
        <a href="/create-job"><button type="button" class="btn btn-success btn-lg">Post Job</button></a>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    </div>
</div>
<section id="jobs-table">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
         <table class="table table-hover">
            <caption><h2>My Applications</h2></caption>
              <thead>
                 <tr>
                    <th>Date Applied</th>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th>Pay</th>
                 </tr>
              </thead>
              <tbody>
                {{#each jobs}}
                 <tr>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.pay}}</td>
                 </tr>
                 {{/each}}
              </tbody>
           </table>
             </div>
             <div class="col-md-6">
                <table class="table table-hover">
                   <caption><h2>My Postings</h2></caption>
                     <thead>
                        <tr>
                           <th>Date Created</th>
                           <th>Job Title</th>
                           <th>Job Description</th>
                           <th>Pay</th>
                        </tr>
                     </thead>
                     <tbody>
                       {{#each jobs}}
                        <tr>
                           <td>{{this.createdAt}}</td>
                           <td>{{this.title}}</td>
                           <td>{{this.description}}</td>
                           <td>{{this.pay}}</td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
                    </div>
               </div>
           </div>
</section>
