<section id="jobs-table">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
         <table class="table table-hover">
            <caption><h2>My Applications</h2></caption>
              <thead>
                 <tr>
                    <th>Date Applied</th>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th>Pay</th>
                 </tr>
              </thead>
              <tbody>
                {{#each jobs}}
                 <tr>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.pay}}</td>
                 </tr>
                 {{/each}}
              </tbody>
           </table>
             </div>
             <div class="col-md-6">
                <table class="table table-hover">
                   <caption><h2>My Postings</h2></caption>
                     <thead>
                        <tr>
                           <th>Date Created</th>
                           <th>Job Title</th>
                           <th>Job Description</th>
                           <th>Pay</th>
                        </tr>
                     </thead>
                     <tbody>
                       {{#each jobs}}
                        <tr>
                           <td>{{this.createdAt}}</td>
                           <td>{{this.title}}</td>
                           <td>{{this.description}}</td>
                           <td>{{this.pay}}</td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
                    </div>
               </div>
           </div>
</section>
